@using EntreVoisin.Models
@{
        UTILISATEUR u = (UTILISATEUR)Session["USER"];
}
<!DOCTYPE html>
<html>
<head>
    <title>Entre Voisin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-with, initial-scale=1.0" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PopupStyle.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ScriptPopupBox.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainUser"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                @Html.ActionLink("Accueil", "Index", "User", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="collapse navbar-collapse" id="mainUser">
                <ul class="nav navbar-nav">
                    <!-- Nav Menu-->
                    <li><a>@u.PSEUDO</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown"><span class="glyphicon glyphicon-inbox"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="divusers">
                            <li class="dropdown-header">Utilisateur connecté</li>
                            <li class="divider">
                            <li><a href="javascript:register_popup('matt', 'Mathieu');">Mathieu</a></li>
                            <li><a href="javascript:register_popup('zeer', 'Mattzeer');">Mattzeer</a></li>
                            <li><a href="javascript:register_popup('alway', 'Yolo');">Yolo</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Bonjour @u.PSEUDO <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Créer un centre d'intéret", "Index", "User")</li>
                            <li>@Html.ActionLink("La communauté", "Index", "User")</li>
                            <li>@Html.ActionLink("Votre profil", "Index", "User")</li>
                            <li class="divider">
                            <li>@Html.ActionLink("Nous contacter", "NousContacter", "Home")</li>
                            <li>@Html.ActionLink("Paramètres", "Index", "User")</li>
                            <li>@Html.ActionLink("Déconnexion", "Deconnexion", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <br />
    <br />
    <div class="container">
        @RenderBody()
        <hr />
        <footer class="col-lg-12"></footer>
    </div>
    <script>

    </script>


</body>

</html>
