@using EntreVoisin.Models
@{
        UTILISATEUR u = (UTILISATEUR)Session["USER"];
        string name = u.PSEUDO;
}
<!DOCTYPE html>
<html>
<head>
    <title>Entre Voisin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-with, initial-scale=1.0" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PopupStyle.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ScriptPopupBox.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>

    <script src="/Scripts/ui/jquery.ui.core.js"></script>
    <script src="/Scripts/ui/jquery.ui.widget.js"></script>
    <script src="/Scripts/ui/jquery.ui.mouse.js"></script>
    <script src="/Scripts/ui/jquery.ui.draggable.js"></script>
    <script src="/Scripts/ui/jquery.ui.resizable.js"></script>




    <script src="/Scripts/jquery.signalR-1.0.0.js"></script>


    <script src="/signalr/hubs"></script>

    <script type="text/javascript">

    $(function () {


        // Declare a proxy to reference the hub.
        var chatHub = $.connection.chatHub;

        registerClientMethods(chatHub);

        // Start Hub
        $.connection.hub.start().done(function () {
            chatHub.server.connect("@name");

        });
    });



    function registerClientMethods(chatHub) {

        // Calls when user successfully logged in
        chatHub.client.onConnected = function (id, userName, allUsers, messages) {

            $('#hdId').val(id);
            $('#hdUserName').val(userName);
            $('#spanUser').html(userName);

            // Add All Users
            for (i = 0; i < allUsers.length; i++) {

                AddUser(chatHub, allUsers[i].ConnectionId, allUsers[i].UserName);
            }

        }

        // On New User Connected
        chatHub.client.onNewUserConnected = function (id, name) {

            AddUser(chatHub, id, name);
        }


        // On User Disconnected
        chatHub.client.onUserDisconnected = function (id, userName) {

            $('#' + id).remove();

            var ctrId = 'private_' + id;
            $('#' + ctrId).remove();


            var disc = $('<div class="disconnect">"' + userName + '" logged off.</div>');

            $(disc).hide();
            $('#divusers').prepend(disc);
            $(disc).fadeIn(200).delay(2000).fadeOut(200);

        }

        chatHub.client.messageReceived = function (userName, message) {

            AddMessage(userName, message);
        }


        chatHub.client.sendPrivateMessage = function (windowId, fromUserName, message) {

            var ctrId = 'private_' + windowId;


            if ($('#' + ctrId).length == 0) {

                createPrivateChatWindow(chatHub, windowId, ctrId, fromUserName);

            }

            $('#' + ctrId).find('#divMessage').append('<div><span>' + fromUserName + '</span>: ' + message + '</div>');

            // set scrollbar
            var height = $('#' + ctrId).find('#divMessage')[0].scrollHeight;
            $('#' + ctrId).find('#divMessage').scrollTop(height);

        }

    }

    function AddUser(chatHub, id, name) {

        var userId = $('#hdId').val();

        var code = "";

        if (userId != id) {

            code = $('<li><a id="' + id + '" class="user">' + name + '<a></li>');

            $(code).click(function () {

                var id = $(this).attr('id');

                if (userId != id)
                    OpenPrivateChatWindow(chatHub, id, name);

            });

        }

        $("#divusers").append(code);

    }

 

    function OpenPrivateChatWindow(chatHub, id, userName) {

        var ctrId = 'private_' + id;

        if ($('#' + ctrId).length > 0) return;

        createPrivateChatWindow(chatHub, id, ctrId, userName);

    }

    function createPrivateChatWindow(chatHub, userId, ctrId, userName) {
        var div = '<div id="' + ctrId + '" class=" ui-widget-content panel panel-default test">' +
                    '<button id="btnDelete" type="button" class="close" >&times;</button>' +
                    '<div class="panel-heading"><span class="glyphicon glyphicon-user"></span>  ' + userName + '</div>' +

                    '<div id="divMessage" class="panel-body messageArea">' +
                    '</div>' +
                    '<hr/>' +
                    '<div class="row col-lg-12">' +
                        '<div class="col-lg-8 textSub">' +
                            '<input id="txtPrivateMessage" type="text" class="form-control" placeholder="Message"></input>' +
                        '</div>' +
                        '<div class="col-lg-4 btnSub">' +
                            '<input id="btnSendMessage" type="button" class="btn btn-primary" value="Envoi"></input>' +
                        '</div>';
        var $div = $(div);

        // DELETE BUTTON IMAGE
        $div.find('#btnDelete').click(function () {
            $('#' + ctrId).remove();
        });

        // Send Button event
        $div.find("#btnSendMessage").click(function () {

            $textBox = $div.find("#txtPrivateMessage");
            var msg = $textBox.val();
            if (msg.length > 0) {

                chatHub.server.sendPrivateMessage(userId, msg);
                $textBox.val('');
            }
        });

        // Text Box event
        $div.find("#txtPrivateMessage").keypress(function (e) {
            if (e.which == 13) {
                $div.find("#btnSendMessage").click();
            }
        });

        AddDivToContainer($div);

    }

    function AddDivToContainer($div) {
        $('#divContainer').prepend($div);

        $div.draggable({

            handle: ".test",
            stop: function () {

            }
        });

        ////$div.resizable({
        ////    stop: function () {

        ////    }
        ////});

    }

    </script>

    <style>
        .test {
            width: 250px;
            position: absolute;
        }

            .test .messageArea {
                height: 200px;
                overflow-y: scroll;
            }

            .test .textSub {
                margin-bottom: 10px;
            }

            .test .btnSub {
                margin-bottom: 10px;
            }
    </style>



</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainUser"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                @Html.ActionLink("Accueil", "Index", "User", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="collapse navbar-collapse" id="mainUser">
                <ul class="nav navbar-nav">
                    <!-- Nav Menu-->
                    <li><a>@u.PSEUDO</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown"><span class="glyphicon glyphicon-inbox"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="divusers">
                            <li class="dropdown-header">Utilisateur connecté</li>
                            <li class="divider">
                            <!-- <li><a href="javascript:register_popup('matt', 'Mathieu');">Mathieu</a></li>
                            <li><a href="javascript:register_popup('zeer', 'Mattzeer');">Mattzeer</a></li>
                            <li><a href="javascript:register_popup('alway', 'Yolo');">Yolo</a></li>
                            -->
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Bonjour @u.PSEUDO <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Créer un centre d'intéret", "Index", "User")</li>
                            <li>@Html.ActionLink("La communauté", "Index", "User")</li>
                            <li>@Html.ActionLink("Votre profil", "Index", "User")</li>
                            <li class="divider">
                            <li>@Html.ActionLink("Nous contacter", "Index", "User")</li>
                            <li>@Html.ActionLink("Paramètres", "Index", "User")</li>
                            <li>@Html.ActionLink("Déconnexion", "Deconnexion", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <br />
    <br />
    <div class="container">
        @RenderBody()
        <hr />
        <div id="divContainer">
            <input id="hdId" type="hidden" />
            <input id="hdUserName" type="hidden" />
        </div>
        <footer class="col-lg-12"></footer>
    </div>
    <script>

    </script>


</body>

</html>
