<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-with, initial-scale=1.0" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainVisiteur"><span style="background-color:#b2dbfb;" class="icon-bar"></span><span style="background-color:#b2dbfb;" class="icon-bar"></span><span style="background-color:#b2dbfb;" class="icon-bar"></span></button>
                
                @Html.ActionLink("Accueil", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <a class="visible-xs" href="#" data-toggle="modal" data-target="#modalConnexion"><span class="glyphicon glyphicon-log-in navbar-brand pull-right"></span></a>
            </div>
            <div class="collapse navbar-collapse" id="mainVisiteur">
                <ul class="nav navbar-nav">
                    <!-- Nav Menu-->
                   
                    <li>@Html.ActionLink("Nous contacter", "", "")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("S’inscrire", "Inscription", "Home")</li>
                    <li><a href="#" data-toggle="modal" data-target="#modalConnexion">Connexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="modalConnexion" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Connexion</h3>
                </div>
                <div class="modal-body">
                    <!--BODY-->
                    <br />
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            @using (Html.BeginForm("Connexion", "Home"))
                            {
                                <div class="form-group">
                                    @Html.Label("Email")
                                    @Html.TextBox("email", "", new { @class = "form-control", placeholder = "Entrez votre Email" })
                                </div>
                                <div class="form-group">
                                    @Html.Label("Mot de passe")
                                    @Html.Password("mdp", "", new { @class = "form-control", placeholder = "Entrez votre mot de passe" })
                                </div>
                                <center><button type="submit" class="btn btn-primary">Connexion</button></center>

                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="container">
        @RenderBody()
        <hr />
        <footer class="col-lg-12">
        </footer>
    </div>
</body>
</html>
