@using EntreVoisin.Models;
@model LoginModelView
@{
    ViewBag.Title = "Connexion";
}



<br />
<br />
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <h1>Connexion</h1>
        <br />
        @using (Html.BeginForm("Connexion", "Home"))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email, new { @class = "form-control", placeholder = "Entrez votre Email" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.mdp)
                @Html.PasswordFor(m => m.mdp, new { @class = "form-control", placeholder = "Entrez votre mot de passe" })
            </div>
            <button type="submit" class="btn btn-primary">Connexion</button>


        }
        <br />
        <center>@Html.ActionLink("Pas encore de compte ? Inscrivez vous ici !", "Inscription", "Home")</center>
    </div>

</div>

