@using EntreVoisin.Models
@model InscriptionModelView
@{
    ViewBag.Title = "Etape 3";
    string address = ViewBag.address;
    string lng = (string)Session["lng"];
    string lat = (string)Session["lat"];
}

<h2>Etape 3 - Les informations du compte</h2>
<hr />
<div class="row">
    @using (Html.BeginForm("Final", "Inscription", FormMethod.Post))
    {
        <div class="col-lg-12">
            <div class="row">
                <h2>Informations du Compte</h2>
                <div class="col-lg-6">
                    <label class="h5">Email</label>
                    @Html.TextBoxFor(m => m.mailInscription, new { @class = "form-control", placeholder = "Email" })
                    <label class="h5">Mot de passe</label>
                    @Html.PasswordFor(m => m.motDePasseInscription, new { @class = "form-control", placeholder = "Mot de passe" })
                    <label class="h5">Confirmation de mot de passe</label>
                    @Html.PasswordFor(m => m.confirmMotDePasseInscription, new { @class = "form-control", placeholder = "Confirmer Mot de passe" })
                    <label class="h5">Date de naissance</label>
                    
                    @Html.TextBoxFor(model => model.ageInscription, new { type = "date" ,@class="form-control"})
                </div>
                <div class="col-lg-6">
                    <label class="h5">Pseudo</label>
                    @Html.TextBoxFor(m => m.pseudo, new { @class = "form-control", placeholder = "Pseudo" })
                    <label class="h5">Nom</label>
                    @Html.TextBoxFor(m => m.nomInscription, new { @class = "form-control", placeholder = "Nom" })
                    <label class="h5">Prenom</label>
                    @Html.TextBoxFor(m => m.prenomInscription, new { @class = "form-control", placeholder = "Prenom" })
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <h2>Adresse</h2>
                    <label>Votre adresse : @address</label>
                    <div id="googleMap" style="width:auto;height:380px;"></div>
                </div>
                <div class="col-lg-6">
                    <h2>Communauté</h2>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <button type="submit" class="btn-primary btn form-control">Valider le compte</button>
                </div>
            </div>
        </div>
    }

</div>
<!--
    mail

    nom
    prenom
    pseudo
    mdp
    dateNaissance
    tel
-->

<script src="http://maps.googleapis.com/maps/api/js">
</script>

<script>
    var myCenter=new google.maps.LatLng(@lat,@lng);

    function initialize()
    {
        var mapProp = {
            center:myCenter,
            zoom:17,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

        var marker=new google.maps.Marker({
            position:myCenter,
        });

        marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>