@using EntreVoisin.Models;
@{
    UTILISATEUR u = (UTILISATEUR)Session["USER"];
    ViewBag.Title = "Accueil";
    List<ACTIVITE> listActiv = ViewData.Model;
}

<style>
</style>
<!-- <script type="text/javascript">
    $(document).ready(function () {
        $('#valActivite').children().hide();
        $('#filtreActivite li a').click(function () {
            var ourClass = $(this).attr('class');
            if (ourClass == 'all') {

            }
            else {

                $(this).parent().toggleClass('active');
                $('#valActivite').children('div.' + ourClass).toggle('fast');

            }
            return false;
        });
    });
</script> -->
<script>
    var $btns = $('.btnlel').click(function () {
        if (this.id == 'all')
        {
            $('#activite > div').fadeIn('slow');
        }
        else
        {
            var $el = $('.' + this.id).fadeIn('slow');
            $('#activite > div').not($el).hide();
        }
        $btns.removeClass('active');
        $(this).addClass('active');
    })
</script>
<div class="col-lg-12">
    <div class="row">
        <div class="row col-lg-12">
            <div class=" col-xs-6">
                <button type="button" class="btn-sm btn-primary visible-xs form-control" data-toggle="collapse" data-target="#tes">Ajout une activité</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn-sm btn-primary visible-xs form-control" data-toggle="collapse" data-target="#tes2">Filtrer les activités</button>
            </div>
        </div>
        <br />
        <div class="col-lg-2 col-md-2">
            <div class="row">
                <div class="well collapse navbar-collapse" id="tes">

                    <ul class="nav nav-pills nav-stacked" id="tabs">
                        <li class="visible-lg visible-md">Ajouter une activité</li>
                        <li class="nav-divider visible-lg visible-md"></li>
                        <li><a href="#" data-toggle="modal" data-target="#modalActus"><span class="glyphicon glyphicon-info-sign"></span> Actualité</a></li>
                        <div id="modalActus" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Ajout d'une actualité</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        @using (Html.BeginForm("AddActus", "Activite", FormMethod.Post))
                                        {
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Message de l'actualité</label>
                                                    @Html.TextArea("message", "", new {  @class="form-control", @rows="4", placeholder="Description de l'actualité"})
                                                    @Html.Hidden("idUser", u.IDUSER)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-4">
                                                    <label>Type d'actualité</label>
                                                    <select class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary form-control">Ajouter</button>
                                                </div>
                                            </div>
                                        </div>

                                        }

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalBonPlan"><span class="glyphicon glyphicon-piggy-bank"></span> Bon Plan</a></li>
                        <div id="modalBonPlan" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-piggy-bank"></span> Ajout d'un Bon Plan</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        @using (Html.BeginForm("AddBonPlan", "Activite", FormMethod.Post))
                                        {
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group col-lg-12">
                                                    <label>Description du bon plan</label>
                                                    @Html.TextArea("message", "", new {  @class="form-control", @rows="4", placeholder="Description de l'actualité"})
                                                    @Html.Hidden("idUser", u.IDUSER)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-12">
                                                    <label>Site ou lieu du bon plan</label>
                                                    @Html.TextBox("site", "", new {  @class="form-control", @rows="4", placeholder="Nom du site ou le lieu du bon plan"})
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>

                                            </div>

                                        </div>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalCovoit"><span class="glyphicon glyphicon-road"></span> Covoiturage</a></li>
                        <div id="modalCovoit" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-road"></span> Ajout d'un Bon Plan</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        @using (Html.BeginForm("AddCovoiturage", "Activite", FormMethod.Post))
                                        {
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class=" form-group">
                                                    <label>Description</label>
                                                    @Html.TextArea("message", "", new { @class = "form-control", @rows = "4", placeholder = "Description du Cvoiturage" })
                                                    @Html.Hidden("idUser", u.IDUSER)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Date de départ</label>
                                                        @Html.TextBox("dateDep","", new { type = "date", @class = "form-control" })
                                                        <label>Lieu de départ</label>
                                                        @Html.TextBox("lieuDep", "", new { @class = "form-control", @rows = "4", placeholder = "Lieu de départ" })
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Date d'arrivée</label>
                                                        @Html.TextBox("dateArriv", "", new { type = "date", @class = "form-control" })
                                                        <label>Lieu d'arrivé</label>
                                                        @Html.TextBox("lieuArriv", "", new { @class = "form-control", @rows = "4", placeholder = "Lieu d'arrivé" })
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-lg-2">
                                                        <label>Participation</label>
                                                        @Html.TextBox("participation", "", new { type = "number", @class = "form-control",placeholder="€" })
                                                      
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Véhicule utilisé</label>
                                                        @Html.TextBox("vehicule", "", new { @class = "form-control", @rows = "4", placeholder = "Véhicule utilisé" })
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalEvent"><span class="glyphicon glyphicon-glass"></span> Evenement</a></li>
                        <div id="modalEvent" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-glass"></span> Ajout d'un Evenement</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        @using (Html.BeginForm("AddEvenement", "Activite", FormMethod.Post))
                                        {
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Description de l'évènement</label>
                                                    @Html.TextArea("message", "", new { @class = "form-control", @rows = "4", placeholder = "Description du l'évenement" })
                                                    @Html.Hidden("idUser", u.IDUSER)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-5">
                                                    <label>Titre de l'évènement</label>
                                                    @Html.TextBox("titreEvenement", "", new { @class = "form-control", @rows = "4", placeholder = "Nom de l'évenement" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-4">
                                                    <label>Date de l'évènement</label>
                                                    @Html.TextBox("dateEve", "", new { type = "date", @class = "form-control" }) 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-5">
                                                    <label>Lieu de l'évènement</label>
                                                    @Html.TextBox("lieuEvenement", "", new { @class = "form-control", @rows = "4", placeholder = "Lieu" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouer</button>
                                                </div>
                                            </div>
                                        </div>
                                        }                                            
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalObjetPerdu"><span class="glyphicon glyphicon-flag"></span> Objet Perdu</a></li>
                        <div id="modalObjetPerdu" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-flag"></span> Ajout d'un Objet Perdu</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        @using (Html.BeginForm("AddObjetPerdu", "Activite", FormMethod.Post))
                                        {
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Description de l'objet perdu</label>
                                                    @Html.TextArea("message", "", new { @class = "form-control", @rows = "4", placeholder = "Description de l'objet perdu" })
                                                    @Html.Hidden("idUser", u.IDUSER)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-6">
                                                    <label>Lieu de l'objet perdu</label>
                                                    @Html.TextBox("lieu", "", new { @class = "form-control", @rows = "4", placeholder = "Lieu" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalService"><span class="glyphicon glyphicon-wrench"></span> Service</a></li>
                        <div id="modalService" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-wrench"></span> Ajout d'un Service</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                            @using (Html.BeginForm("AddService", "Activite", FormMethod.Post))
                                            {
                                        <div class="col-lg-12">
                                            
                                            <div class="row">
                                                <div class=" form-group">
                                                    <label>Description de la proposition du service</label>
                                                    @Html.TextArea("message", "", new { @class = "form-control", @rows = "4", placeholder = "Description du service" })
                                                    @Html.Hidden("idUser", u.IDUSER)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-5">
                                                    <!---Html.TextBox("cdTypePropositionService", "", new { class = "form-control", rows = "1", placeholder = "Proposition de servive" }) -->
                                                    <label>Type de proposition de service</label>
                                                    <select class="form-control"></select>
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <!---Html.TextBox("cdTypeService", "", new { class = "form-control", rows = "1", placeholder = "Type de servive" })   -->
                                                    <label>Type de service</label>
                                                    <select class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-5">
                                                    <label>Titre du service</label>
                                                    @Html.TextBox("TitreService", "", new { @class = "form-control", @rows = "4", placeholder = "Titre du servive" })
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label>Prix du service</label>
                                                    @Html.TextBox("PrixService", "", new { @class = "form-control", @rows = "4", placeholder = "€" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>
                                            </div>
                                        </div>
                                            }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalObjet"><span class="glyphicon glyphicon-gift"></span> Objet</a></li>
                        <div id="modalObjet" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-gift"></span> Ajout d'un Objet</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                        @using (Html.BeginForm("AddObjet", "Activite", FormMethod.Post))
                                        {
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Description de la proposition de l'objet</label>
                                                    @Html.TextBox("message", "", new { @class = "form-control", @rows = "4", placeholder = "Description" })
                                                    @Html.Hidden("idUser", u.IDUSER)
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-4">
                                                    <label>Type de proposition d'objet</label>
                                                    <select class="form-control"></select>
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <label>Type d'objet</label>
                                                    <select class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-lg-5">
                                                    <label>Titre de la proposition de l'objet</label>
                                                    @Html.TextBox("titreObjet", "", new { @class = "form-control", @rows = "4", placeholder = "Titre" })
                                                </div>
                                                <div class="form-group col-lg-2">
                                                    <label>Prix</label>
                                                    @Html.TextBox("prixObjet", "", new { @class = "number", @rows = "4", placeholder = "Lieu" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>

                                            </div>

                                        </div>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a href="#" data-toggle="modal" data-target="#modalSondage"><span class="glyphicon glyphicon-question-sign"></span> Sondage</a></li>
                        <div id="modalSondage" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span> Ajout d'un Sondage</h3>
                                    </div>
                                    <hr />
                                    <div class="modal-body">
                                            @using (Html.BeginForm("AddSondage", "Activite", FormMethod.Post))
                                            {
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Description du sondage</label>
                                                    @Html.TextArea("message", "", new { @class = "form-control", @rows = "4", placeholder = "Description du sondage" })
                                                    @Html.Hidden("idUser", u.IDUSER)
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label>Date de la fin du sondage</label>
                                                    @Html.TextArea("DateSondage", "", new { @class = "form-control", @rows = "1", placeholder = "JJ/MM/AAAA" })
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="form-group">
                                                    <button class="btn btn-primary form-control">Ajouter</button>
                                                </div>
                                            </div>
                                        </div>
                                            }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="row visible-xs">
                <div class="well collapse navbar-collapse" id="tes2">
                    <ul class="nav nav-pills nav-stacked" id="tabs">
                        <li><a href='@Url.Action("index", "USER", new { type = "" })'>Toutes</a></li>
                        <li><a href='@Url.Action("index", "USER", new { type = "ACTUS" })'><span class="glyphicon glyphicon-info-sign"></span> Actualité</a></li>
                        <li><a href='@Url.Action("index", "USER", new { type = "COVOIT" })'><span class="glyphicon glyphicon-road"></span> Convoiturage</a></li>
                        <li><a href='@Url.Action("index", "USER", new { type = "EVENT" })'><span class="glyphicon glyphicon-glass"></span> Evenement</a></li>
                        <li><a href='@Url.Action("index", "USER", new { type = "OBJETPERDU" })'><span class="glyphicon glyphicon-flag"></span> Objet Perdu</a></li>
                        <li><a href='@Url.Action("index", "USER", new { type = "SERVICE" })'><span class="glyphicon glyphicon-wrench"></span> Service</a></li>
                        <li><a href='@Url.Action("index", "USER", new { type = "OBJET" })'><span class="glyphicon glyphicon-gift"></span> Objet</a></li>
                        <li><a href='@Url.Action("index", "USER", new { type = "SONDAGE" })'><span class="glyphicon glyphicon-question-sign"></span> Sondage</a></li>
                    </ul>

                </div>

            </div>

        </div>

        <div class="col-lg-8 col-md-8" id="valActivite">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @foreach (ACTIVITE a in listActiv)
            {
                switch (a.TYPEACTIVITE)
                {
                    case "ACTUS":
                        <div class="panel panel-primary item actus" id="actus">
                            <div class="panel-heading">
                                <div class="panel-title pull-left"><span class="glyphicon glyphicon-info-sign"></span> Actualités</div>
                                <div class="pull-right"><small>@a.DATECREATION</small></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <p>@a.DESCRIP</p>
                                            </div>
                                            <div class="row">
                                                <p><span class="glyphicon glyphicon-comment"></span> @a.COMMENTAIREACTIVITE.Count Commentaires</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="row">
                                                <a href=#>Posté par @a.UTILISATEUR.PSEUDO</a>

                                            </div>
                                            <div class="row">
                                                <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <center>@Html.ActionLink("Voir plus d'information", "Actus", "User", new { id = a.IDACTIVITE }, new { idActus = a.IDACTIVITE })</center>
                            </div>
                        </div>
                        break;

                    case "BONPLAN":
                    <div class="panel panel-default item bonPlan" id="bonPlan">
                        <div class="panel-heading">
                            <div class="panel-title pull-left"><span class="glyphicon glyphicon-piggy-bank"></span> Bon plan</div>
                            <div class="pull-right"><small>@a.DATECREATION</small></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <p>@a.DESCRIP</p>
                                        </div>
                                        <div class="row">
                                            <p><span class="glyphicon glyphicon-comment"></span> @a.COMMENTAIREACTIVITE.Count Commentaires</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <a href=#>Posté par @a.UTILISATEUR.PSEUDO</a>

                                        </div>
                                        <div class="row">
                                            <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <center><a href="#">Voir plus d'information</a></center>
                        </div>
                    </div>
                        break;

                    case "COVOIT":
                    <div class="panel panel-danger item covoit" id="covoit">
                        <div class="panel-heading">
                            <div class="panel-title pull-left"><span class="glyphicon glyphicon-road"></span> Covoiturage</div>
                            <div class="pull-right"><small>@a.DATECREATION</small></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <p>@a.DESCRIP</p>
                                        </div>
                                        <div class="row">
                                            <p><span class="glyphicon glyphicon-comment"></span> @a.COMMENTAIREACTIVITE.Count Commentaires</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <a href=#>Posté par @a.UTILISATEUR.PSEUDO</a>

                                        </div>
                                        <div class="row">
                                            <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <center><a href="#">Voir plus d'information</a></center>
                        </div>
                    </div>
                        break;

                    case "SERVICE":
                    <div class="panel panel-success item service" id="service">
                        <div class="panel-heading">
                            <div class="panel-title pull-left"><span class="glyphicon glyphicon-wrench"></span> Proposition de service</div>
                            <div class="pull-right"><small>@a.DATECREATION</small></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <p>@a.DESCRIP</p>
                                        </div>
                                        <div class="row">
                                            <p><span class="glyphicon glyphicon-comment"></span> @a.COMMENTAIREACTIVITE.Count Commentaires</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <a href=#>Posté par @a.UTILISATEUR.PSEUDO</a>

                                        </div>
                                        <div class="row">
                                            <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <center><a href="#">Voir plus d'information</a></center>
                        </div>
                    </div>
                        break;

                    case "OBJET":
                    <div class="panel panel-danger item objet" id="objet">
                        <div class="panel-heading">
                            <div class="panel-title pull-left"><span class="glyphicon glyphicon-gift"></span> Proposition d'objet</div>
                            <div class="pull-right"><small>@a.DATECREATION</small></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <p>@a.DESCRIP</p>
                                        </div>
                                        <div class="row">
                                            <p><span class="glyphicon glyphicon-comment"></span> @a.COMMENTAIREACTIVITE.Count Commentaires</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <a href=#>Posté par @a.UTILISATEUR.PSEUDO</a>

                                        </div>
                                        <div class="row">
                                            <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <center><a href="#">Voir plus d'information</a></center>
                        </div>
                    </div>
                        break;

                    case "OBJETPERDU":
                    <div class="panel panel-primary item objetPerdu" id="objetPerdu">
                        <div class="panel-heading">
                            <div class="panel-title pull-left"><span class="glyphicon glyphicon-flag"></span> Objet Perdu</div>
                            <div class="pull-right"><small>@a.DATECREATION</small></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <p>@a.DESCRIP</p>
                                        </div>
                                        <div class="row">
                                            <p><span class="glyphicon glyphicon-comment"></span> @a.COMMENTAIREACTIVITE.Count Commentaires</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <a href=#>Posté par @a.UTILISATEUR.PSEUDO</a>

                                        </div>
                                        <div class="row">
                                            <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <center><a href="#">Voir plus d'information</a></center>
                        </div>
                    </div>
                        break;

                    case "EVENT":
                    <div class="panel panel-primary item event" id="event">
                        <div class="panel-heading">
                            <div class="panel-title pull-left"><span class="glyphicon glyphicon-glass"></span> Evenement</div>
                            <div class="pull-right"><small>@a.DATECREATION</small></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <p>@a.DESCRIP</p>
                                        </div>
                                        <div class="row">
                                            <p><span class="glyphicon glyphicon-comment"></span> @a.COMMENTAIREACTIVITE.Count Commentaires</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <a href=#>Posté par @a.UTILISATEUR.PSEUDO</a>

                                        </div>
                                        <div class="row">
                                            <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <center><a href="#">Voir plus d'information</a></center>
                        </div>
                    </div>
                        break;

                    case "SONDAGE":
                    <div class="panel panel-default item sondage" id="sondage">
                        <div class="panel-heading">
                            <div class="panel-title pull-left"><span class="glyphicon glyphicon-question-sign"></span> Sondage</div>
                            <div class="pull-right"><small>@a.DATECREATION</small></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <p>@a.DESCRIP</p>
                                        </div>
                                        <div class="row">
                                            <p><span class="glyphicon glyphicon-comment"></span> @a.COMMENTAIREACTIVITE.Count Commentaires</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="row">
                                            <a href=#>Posté par @a.UTILISATEUR.PSEUDO</a>

                                        </div>
                                        <div class="row">
                                            <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <center><a href="#">Voir plus d'information</a></center>
                        </div>
                    </div>
                        break;
                }
            }
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="row">
                <ul class="nav nav-pills nav-stacked well visible-md visible-lg" id="tabs">
                    <li class="visible-lg visible-md">Filtrer les activités</li>
                    <li class="nav-divider visible-lg visible-md"></li>
                    <li><a href='@Url.Action("index", "USER", new { type = "" })'>Toutes</a></li>
                    <li><a href='@Url.Action("index", "USER", new { type = "ACTUS" })'><span class="glyphicon glyphicon-info-sign"></span> Actualité</a></li>
                    <li><a href='@Url.Action("index", "USER", new { type = "COVOIT" })'><span class="glyphicon glyphicon-road"></span> Convoiturage</a></li>
                    <li><a href='@Url.Action("index", "USER", new { type = "EVENT" })'><span class="glyphicon glyphicon-glass"></span> Evenement</a></li>
                    <li><a href='@Url.Action("index", "USER", new { type = "OBJETPERDU" })'><span class="glyphicon glyphicon-flag"></span> Objet Perdu</a></li>
                    <li><a href='@Url.Action("index", "USER", new { type = "SERVICE" })'><span class="glyphicon glyphicon-wrench"></span> Service</a></li>
                    <li><a href='@Url.Action("index", "USER", new { type = "OBJET" })'><span class="glyphicon glyphicon-gift"></span> Objet</a></li>
                    <li><a href='@Url.Action("index", "USER", new { type = "SONDAGE" })'><span class="glyphicon glyphicon-question-sign"></span> Sondage</a></li>
                </ul>
            </div>

            
            <div class="row">
                <ul class="well nav navbar-inverse">
                    <li>Evenement à venir</li>
                    <li class="nav-divider"></li>
                    <li><a href="#">lel</a></li>
                    <li><a href="#">lyl</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


