@using EntreVoisin.Models;
@{
    SONDAGE a = ViewData.Model;
    ViewBag.Title = "Sondage";
}

<h2>Sondage</h2>

<div class="panel panel-default item sondage" id="sondage">
    <div class="panel-heading">
        <div class="panel-title pull-left"><span class="glyphicon glyphicon-question-sign"></span> Sondage</div>
        <div class="pull-right"><small>@a.ACTIVITE.DATECREATION</small></div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-10">
                    <div class="row">
                        <p>@a.ACTIVITE.DESCRIP</p>
                        <p>Date de fin du Sondage : @a.ACTIVITE.SONDAGE.DATEFIN</p>
                    </div>
                    <div class="row">
                        <p><span class="glyphicon glyphicon-comment"></span> @a.ACTIVITE.COMMENTAIREACTIVITE.Count Commentaires</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <a href=#>Posté par @a.ACTIVITE.UTILISATEUR.PSEUDO</a>

                    </div>
                    <div class="row">
                        <img src="https://account.socialbakers.com/default_user.png" width="50px" height="50px" class="img-rounded">
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>